header {
  background-color: #000;
  font-family: "Dokdo", system-ui;
  font-size: 20px;
}

.topnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
  /* flex-wrap: wrap; */
}

.topnav a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
  padding:  1px 40px;
  border-radius: 40px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.topnav a:hover {
  background-color: #e63946;
  color: #fff;
}


.topnav a.active:hover {
  color:#e63946;
  
}

.topnav a.active {
  background-color: #020202;
  color: #fff;
  font-size: 4rem;
}


footer {
  background: #000;
  color: #fff;
  font-size: 0.08rem;
  width: 100%;
  padding: 10px 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  padding-bottom: 30px;
}


html{
    background-color: rgb(255, 255, 245);
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
  background-color: #fefcf8;
  font-family: 'Comic Neue', sans-serif;
  color: #000;
  padding: 0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: 'Dokdo', cursive;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 6px;
  margin: 20px 0 0px 15px;
  color: #e63946;
}

h2{
  font-family: 'Dokdo', cursive;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 6px;
  margin: 0px 0 10px 0;
}

h3{
 font-family: 'Dokdo', cursive;
  text-align: center;
  font-size: 1.75rem;
  letter-spacing: 1px;
  margin: 2px auto 20px auto; 
  padding: 0 20px;
  max-width: 900px;
}

p {
  max-width: 900px;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  text-align: justify;
  font-size: 1.2rem;
}



ul {
  list-style-type: none;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}




ul li {
  position: center;
  width: 107%;
  padding: 20px 30px;
  box-sizing: border-box;
}


ul li h3 {
  font-family: 'Dokdo', cursive;
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}






.timeline {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  max-width: 800px;
  position: relative;
}


.timeline::before {
    content: "";
    position: absolute;
    left: 43px;   
    top: 7px;
    bottom: 0;
    width: 4px;
    background: black;
}


.timeline li {
    position: relative;
    margin: 60px 0;
    padding-left: 120px;  
    font-family: "Comic Neue", sans-serif;
    line-height: 1.5;
}



.timeline li::before {
    content: "";
    position: absolute;
    left: 32px;   
    top: 5px;
    width: 20px;
    height: 20px;
    background: white;
    border: 4px solid black;
    border-radius: 50%;
}


.timeline li img {
    max-width: 700px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}






.peanuts li {
  position: relative;
  margin-top: 40px;

}

.peanuts li img{
  display: block;
  margin: auto;
  max-height: 300px;

}

.snoopimage {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}



img{
  display: block;
  margin: auto;
}

.siblings img{
  max-height: 400px;
}



ol{
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}


ol li {
    background: white;
    border: 3px solid black;
    border-radius: 6px;
    padding: 25px;
    margin: 40px 0;
  
}



h4{
  max-width: 500px;
  text-align: center;
}

.nasaobjects img{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.nasaobjects li{
  margin: 35px 21px 20px 60px;

}

.sources{
  margin: auto;
  margin-top: 0;
  text-align: center;
  max-width: 600px;
}

.sources li{
  list-style: circle;
  text-align: justify;
  margin-left: 40px;

}





/* mobile RD */
@media (min-width: 320px) and (max-width: 480px) {

  .topnav {
    flex-wrap: wrap;
    gap: 0px;
  }

  .topnav a {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .topnav a.active {
    font-size: 1.2rem;
  }

  h1 { font-size: 3rem; }
  h2 { font-size: 1.8rem; }
  p{font-size: 1rem;}


  .timeline::before { left: 18px; }
  .timeline li { padding-left: 60px; }
  .timeline li::before { left: 6px; }

  img,
  .nasaobjects img {
    max-width: 100%;
    height: auto;
  }
   .timeline li img{
    display: none;
   }
}


/* small screen RD */
@media (min-width: 480px) and (max-width: 768px) {
  .topnav {
    flex-wrap: wrap;
    gap: 12px;
  }

  .topnav a {
    padding: 8px 20px;
    font-size: 1.1rem;
  }

  .topnav a.active {
    font-size: 1.4rem;
  }
  
  h1 { font-size: 4rem; }
  h2 { font-size: 2.4rem; }

  p { font-size: 1rem; }

  .timeline::before { left: 28px; }
  .timeline li { padding-left: 90px; }
  .timeline li::before { left: 16px; }

  .timeline li img,
  .nasaobjects img {
    max-width: 100%;
  }
  img{
    max-width: 90%;

  }
}

 /* medium screen RD */
@media (min-width: 768px) and (max-width: 1024px) {
  .topnav {
    gap: 18px;
  }

  .topnav a {
    padding: 10px 28px;
    font-size: 1.2rem;
  }

  .topnav a.active {
    font-size: 1.6rem;
  }
   .timeline li img {
    max-width: 90%;
  }

  .nasaobjects img {
    max-width: 90%;
  }
}