html{
    background-color: rgb(115, 149, 78);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
}
header{
    text-align: center;
    font-size: 50px;
}

p{
    font-size: 30px;
}

li{
    padding-bottom: 1rem;
}