

html {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background: #D4E09B;
    color: #090c9b;
    font-size: 10px;
}

header {
    font-size: 2rem;
    text-align: center;
    padding: 20px 20px;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}


.project-card {
    background:#eaecee;
    flex: 0 1 400px;  
    height: 450px;       
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1{
    font-family: "Tilt Warp", sans-serif;
    font-size: 10rem;
    letter-spacing: 2px;
    color: #F06543;
}

h2{
    font-size: 2rem;
}

h4{
    font-size: 5rem;
}

p{
    font-size: 1.6rem;
    line-height: 1.6;
}


h2, p{
    margin-left: 15px;
    margin-right: 15px;
}

.project-card img {
    width: 100%;
    max-height: 240px;
    object-position: top;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}

a{
    text-decoration: none;
}

a:link,a:visited {
  color: #0A2342;
}


a:hover,a:active  {
    color:#F06543;
}