header {
  background-color: #000;
  font-family: "Dokdo", system-ui;
  font-size: 20px;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}

.topnav a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
  padding:  1px 40px;
  border-radius: 40px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.topnav a:hover {
  background-color: #e63946;
  color: #fff;
}

.topnav a.active {
  background-color: #020202;
  color: #fff;
  font-size: 90px;
}



.snoopimage {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

html{
    background-color: rgb(255, 255, 245);
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
  background-color: #fefcf8;
  font-family: 'Comic Neue', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  font-family: 'Dokdo', cursive;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 6px;
  margin: 40px 0 10px;
  color: #e63946;
}

h2{
  font-family: 'Dokdo', cursive;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 6px;
  margin: 40px 0 10px;
}

h3{
 font-family: 'Dokdo', cursive;
  text-align: center;
  font-size: 1.75rem;
  letter-spacing: 1px;
  margin: 2px auto 20px auto; 
  padding: 0 20px;
  max-width: 900px;
}

p {
  max-width: 900px;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  text-align: justify;
  font-size: 1.1rem;
}



ul {
  list-style-type: none;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}




ul li {
  position: center;
  width: 107%;
  padding: 20px 30px;
  box-sizing: border-box;
}


ul li h3 {
  font-family: 'Dokdo', cursive;
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: left;
}






.timeline {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  max-width: 800px;
  position: relative;
}


.timeline::before {
    content: "";
    position: absolute;
    left: 43px;   
    top: 7px;
    bottom: 0;
    width: 4px;
    background: black;
}


.timeline li {
    position: relative;
    margin: 60px 0;
    padding-left: 120px;  
    font-family: "Comic Neue", sans-serif;
    line-height: 1.5;
}



.timeline li::before {
    content: "";
    position: absolute;
    left: 32px;   
    top: 5px;
    width: 20px;
    height: 20px;
    background: white;
    border: 4px solid black;
    border-radius: 50%;
}


.timeline li img {
    max-width: 700px;
    margin-top: 15px;
    
}


.peanuts li {
  position: relative;
  margin-top: 40px;

}

.peanuts li img{
  display: block;
  margin: auto;
  max-height: 300px;

}

img{
  display: block;
  margin: auto;
  max-height: 400px;
}



ol {
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}


ol li {
    background: white;
    border: 3px solid black;
    border-radius: 12px;
    padding: 25px;
    margin: 40px 0;
  
}


img{
  margin-bottom: 20px;
}













